/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"); */
@font-face {
  font-family: Montserrat-Arabic;
  src: url("./font/Montserrat-Arabic-Regular.ttf");
}
:root {
  --sky-blue: #2ba8e2;
  --white: #fff;
  --black: #000000;
  --icon-bg: rgba(221, 235, 255, 0.399);
  --foot-color: #1f2226;
  --p-foot: #a2a2a2;
}

* {
  font-family: "Montserrat-Arabic";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  direction: rtl;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.form-control,
.form-control:focus {
  padding: 1rem;
  border: 1px solid #c8c8c8;
  border-radius: 8px;
  box-shadow: none;
  outline: 0;
  margin: 1.5rem 0;
}
img {
  width: 100%;
}
i,
svg {
  line-height: 0;
}

.btn,
.btn:focus {
  outline: none;
  box-shadow: none;
}
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--sky-blue);
}
.cut-text {
  text-overflow: unset;
  overflow: hidden;
  white-space: nowrap;
  margin: 0%;
}

#scroll-top {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--sky-blue);
  font-size: 22px;
  line-height: 2px;
  vertical-align: middle;
  z-index: 98;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
#scroll-top.show {
  visibility: visible;
}

a.link {
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 99 !important;
  color: transparent !important;
  background: transparent !important;
}
.loader {
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
}
.loading {
  width: 48px;
  height: 48px;
  border: 10px solid var(--white);
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
}
.loading::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid var(--sky-blue);
  animation: prixClipFix 1s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

/* header */

header {
  background: url("../images/Group\ 59174.png");
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--foot-color);
}
header .navbar {
  font-size: 16px !important;
}
header .detail-banner {
  line-height: 1.9;
}
header ul .tick-li {
  display: flex;
  align-items: center;
  width: 70%;
  color: hsla(0, 0%, 18%, 0.786) !important;
}
header ul .tick-li img {
  width: 22px;
  padding-left: 5px;
}
header .navbar .nav-item .nav-link {
  color: var(--black);
}
header .btn-load {
  background: var(--sky-blue);
  color: var(--white);
  width: 140px;
  font-size: 14px;
  padding: 7px;
}
header .btn-load:hover{
  color: var(--white);
  background: var(--sky-blue);
}
/* about-us */
.about-us {
  position: relative;
  color: var(--foot-color);
}
.about-us .title-load {
  font-weight: 600;
}
.about-us .opacity-section {
  position: absolute;
  opacity: 0.12;
  filter: blur(50px);
  background: transparent linear-gradient(217deg, #4388ef 0%, #b2fffc 100%) 0%
    0% no-repeat;
  height: 70%;
  width: 500px;
  top: 30%;
  left: 0;
}
.about-us .about-term {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
}
.about-us .about-term img {
  width: 65px;
  padding: 15px;
  background-color: var(--icon-bg);
  border-radius: 50%;
}
.about-us .about-term p {
  font-size: 12px;
}
.about-us .img-about {
  position: relative;
}
.about-us .download-app {
  border: 1px solid #3b3b3b8c;
  border-radius: 5px;
  margin: 10px;
  margin-right: 0;
}
.about-us .img-app {
  padding: 0 0 15px 15px;
}
/* services */
.services {
  padding-top: 20px;
  color: var(--foot-color);
  padding-bottom: 50px;
}
.services .card-serv {
  box-shadow: 0px 30px 60px #1827651f;
  border-radius: 10px;
  width: 120px;
  height: 100px;
  padding: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.services .card-serv img {
  width: 35px;
}
.services .serv-detail {
  width: 55%;
  padding: 20px 0 30px;
}
.services .serv-collection {
  width: 50%;
}
/* wait section */
.wait{
  padding-top: 10rem;
  padding-bottom: 50px;
  color: var(--white);
  font-size: 20px;
 
}
.wait .wait-section{
  background-image: url(../images/Group\ 59217.svg);
  background-size: cover;
  border-radius: 15px;
  position: relative;
  height: 350px;
}
.wait .wait-section .pos-wait{
  position: absolute;
  bottom: 0;
  left: -10%;
}
.wait .wait-section .pos-wait img{
  width: 77%;
}
.wait .wait-section .wait-detail{
  padding-right: 9rem;
  line-height: 3;
  word-spacing: 3px;
}
/* blog */
.blogs{
  padding-top: 50px;
  padding-bottom: 50px;
}
.blogs .blog-descrip{
  width: 55%;
  padding-top: 10px;
  padding-bottom: 25px;
}
.blogs .card{
  box-shadow: 0px 30px 60px #1827651F;
  font-size: 12px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.blogs .card .card-img{
  border-radius: 10px;
  padding: 8px;
}
.blogs .card a{
  color: var(--sky-blue);
}
/* customer */
.customer{
  padding-top: 50px;
}
.customer .customer-wrapp{
  padding-bottom: 100px;
  height: 100%;
  margin: 25px;
}
.customer .customer-wrapp .customer-img{
  width: 50px;
  border-radius: 50%;
}
.customer .customer-comment{
  box-shadow: -1px 12px 20px #18276510
}
.customer .descrip-customer{
  color: #707070;
  font-size: 12px;
}
.partners .owl-nav,
.customer  .owl-nav {
  position: absolute;
  top: -2.8rem;
  left: 1rem;
  width: max-content;
  display: flex !important;
}
.partners .owl-nav {
  top: -5.8rem;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
  font: inherit;
  width: 30px;
  height: 30px;
  line-height: 5px;
  margin: 8px;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  font-size: 25px;
  color: #CCCCCC;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover{
  color: var(--black);
  border: 1px solid var(--black);

}
/* partners */
.partners .partners-wrapp{
  margin: 20px;
  box-shadow: -1px 2px 20px 10px #18276514;
}
.partners .partners-wrapp .card{
  border-radius: 10px;
  border-radius: 15px;
  padding: 0;
}
.partners .owl-carousel .owl-item img {
  width: 100%;
  border-radius: 15px;
}

/* footer */
footer {
  background: var(--sky-blue);
  padding-top: 50px;
  color: var(--white);
  font-size: 12px;
  line-height: 1.9;
}
footer .foot-logo {
  width: 100px;
}
footer p {
  width: 75%;
}
footer .bottom-footer {
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #249cd4;
  text-align: center;
  font-size: 14px;
}
footer .icon-social{
  font-size: 16px;
  padding-left: 5px;
}
footer ul li{
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
} 
footer a,
footer a:hover,
footer ul li a:hover,
footer ul li a{
  color: var(--white);
}

@media (max-width: 1200px) {
  .wait .wait-section .wait-detail{
    padding-right: 5rem;
  }
  .wait .wait-section .pos-wait{
    left: -20%;
  }
}

@media (max-width: 992px) {
  .collap-small {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .services .serv-collection {
    width: 100%;
  }
  .services .serv-detail {
    width: 75%;
  }
  footer p {
  width: 100%;}
.services .card-serv {
    box-shadow: 0px 3px 60px #1827651f;}
    .wait .wait-section .pos-wait img {
      display: none;
  }
  .wait {
    padding-top: 1rem;}
    .blogs .blog-descrip{
      width: 100%;
    }
    
}
@media (max-width: 768px) {
  .about-us {
    padding-top: 50px;
  }
  .about-us .opacity-section {
    display: none;
  }
  .img-app {
    width: 100% !important;
    max-width: max-content;
  }
  .resigt {
    width: 100% !important;
  }
  .services .serv-detail {
    width: 100%;
}
.wait .wait-section .wait-detail {
  padding-right: 1rem;
  word-spacing: 0px;
  line-height: 2;}
}
@media (max-width: 575.98px) {
  footer p {
    width: 80%;
}
.customer .design-small{
  flex-direction: column;
  margin-bottom: 0 !important;
}
}
